html, body {
    height: 100%;
}

body {
    background-color: whitesmoke;
    /* background-image: url("https://media.giphy.com/media/BmmfETghGOPrW/giphy.gif"); */
    /* background-repeat: no-repeat, */
    margin:0px;
    padding: 0px;

}

.jumbotron {
    border-bottom: 5px solid greenyellow;
    background: lightcoral;

}

.start-game {
    display: flex;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: space-around;
    /* color: white; */

}

.timer {
    display: flex;
    justify-content: space-around;
    /* color: white; */

}

.done-button {
    display: flex;
    justify-content: space-around;
}

.main-container {
    display: none;
}

.footer {
    position: relative;
    display: flex;
    bottom: 0%;
    top: 50%;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    background-origin: padding-box;
    padding: 2em;
    background: rgb(0, 81, 128);
    border-top: 5px solid rgb(0, 128, 128);
    height: 60px;
    margin-top: 20px;
    background-color: #111111;
    color: #eeeeee;    

}