html, body {
    height: 100%;
}

body {
    background-color: whitesmoke;
    background-image: url("../images/globe.jpg");
    background-repeat: repeat;
    margin:0px;
    padding: 0px;

}

.jumbotron {
    border-bottom: 5px solid greenyellow;
    background-color: gainsboro;
    color: black;
    padding: 0;

}

.start-game {
    display: flex;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: space-around;

}

.timer {
    display: flex;
    justify-content: space-around;

}

.done-button {
    display: flex;
    justify-content: space-around;
}

.main-container {
    display: none;
    color: rgba(255, 255, 255, 0.932);
    font-size: bold;
    padding: 6em
    
}

.main-container .timer {
    color:  white;
}

.footer {
    position: fixed;
    display: flex;
    bottom: 0%;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    background-origin: padding-box;
    padding: 2em;
    border-top: 5px solid rgb(0, 128, 128);
    height: 60px;
    margin-top: 20px;
    background-color: #111111;
    color: #eeeeee;    

}